include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include doc_designer_ak *.css
recursive-include doc_designer_ak *.csv
recursive-include doc_designer_ak *.html
recursive-include doc_designer_ak *.ico
recursive-include doc_designer_ak *.js
recursive-include doc_designer_ak *.json
recursive-include doc_designer_ak *.md
recursive-include doc_designer_ak *.png
recursive-include doc_designer_ak *.py
recursive-include doc_designer_ak *.svg
recursive-include doc_designer_ak *.txt
recursive-exclude doc_designer_ak *.pyc
